@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

body {
  background-color: #111;
  color: #fff;
  margin: auto;
  max-width: 50em;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  padding: .5em 1em;
}

pre, code, tt {
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
}

a {
  font-weight: 600;
  color: #3ef;
}

.code-block pre, span.pre {
  background-color: #222;
}

.code-block pre {
  padding: 1em 1em;
  margin: 0;
}

.code-block header {
  background-color: #222;
  display: inline-block;
  padding: .2em .8em;
}

.code-block footer {
  margin-bottom: 2em;
}

.code-block {
  margin: 1em 0;
}

 
.used-by {
  font-size: .8em;
}

pre {
  overflow-x: auto;
}

h1,h2,h3 {
  margin-top: 4rem;
}

h4 {
  margin-top: 2rem;
}

h1 {
  text-align: center;
}
